// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Colors
$background-color: #fff;
$header-background-color: #2c2c2c;
$footer-background-color: #2c2c2c;
$player-background-color: #fff;

$foreground: #272727;
$live-color: #464646;
$logo-color1: #f2c536;
$logo-color2: #f7f6f4;

// Dimensions
$width: 100%;
$header-height: 75px;
$footer-height: 75px;
$player-height: 60px;
$body-margin: 5%;

// URLs
$background: url('background.png');
$home-image: url('home.png');
$home-image-active: url('home_active.png');
$playlist-image: url('playlist.png');
$playlist-image-active: url('playlist_active.png');
$refresh-image: url('refresh.png');

@font-face {
  font-family: 'AvenirBlack';
  src: url('type/AvenirBlack.woff') format('woff'),
  url('type/AvenirBlack.eot') format('eot'),
  url('type/AvenirBlack.ttf') format('ttf');
}

@font-face {
  font-family: 'AvenirRoman';
  src: url('type/AvenirRoman.woff') format('woff'),
  url('type/AvenirRoman.eot') format('eot'),
  url('type/AvenirRoman.ttf') format('ttf'),
  url('type/AvenirRoman.svg') format('svg');
}

h1 {
  color: #f2c536;
  font-family: 'AvenirBlack';
}

p {
  color: #272727;
  font-family: 'AvenirRoman';
}

body {
  background: { 
    color: $background-color;
    image: $background;
    repeat: repeat-x repeat-y;
  }

  margin: 0px;
  padding: 0px;
  width: $width;
}

#body {
  padding: {
    top: $header-height + $player-height;
    bottom: $footer-height;
  }

  margin: {
    left: $body-margin;
    right: $body-margin;
  }
}

header {
  background-color: $header-background-color;
  height: $header-height;
  width: $width;
  top: 0px;
  left: 0px;
}

#logo-container {
  width: 100%;
  height: $header-height;
}

#live {
  float: left;
  width: $width / 3;
  height: 100%;
  color: $live-color;
  text: {
    align: center;
    decoration: none;
  }
}

#logo {
  float: left;
  width: $width / 3;
  height: 100%;
  text: {
    align: center;
    decoration: none;
  }
}

#logo-text-left {
  color: $logo-color1;
}

#logo-text-right {
  color: $logo-color2;
}

#refresh {
  float: right;
  width: $width / 3;
  height: 100%;
  background: $refresh-image center center no-repeat;
}

#player {
  background-color: $player-background-color;
  width: 100%;
  height: $player-height;
}

footer {
  background-color: $footer-background-color;
  height: $footer-height;
  width: $width;
  bottom: 0px;
  left: 0px;
}

#home {
  float: left;
  width: $width / 2;
  height: 100%;
  background: $home-image center center no-repeat;
  &:hover {
    background: $home-image-active center center no-repeat;
  }
}

#playlist {
  float: right;
  width: $width / 2;
  height: 100%;
  background: $playlist-image center center no-repeat;
  &:hover {
    background: $playlist-image-active center center no-repeat;
  }
}

.fixed {
  position: fixed;
}

.above {
  z-index: 100000;
}

.centered {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;

  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;

  display: box;
  box-orient: vertical;
  box-pack: center;
}
