$width: 100%;
$height: 70px;

$foreground: #808080;
$background: #e6e6e6;
$background2: #eee;
$color1: #009be3;

div.jp-audio, div.jp-audio-stream, div.jp-video {
  color: $foreground;
  background-color: $background;
}

div.jp-audio {
  width: $width;
}

div.jp-audio-stream {
  width: $width;
}
div.jp-video-270p {
  width: $width;
}
div.jp-video-360p {
  width: $width;
}
div.jp-video-full {
  width: $width;
  height: 270px;
  position: static !important; position:relative
}

div.jp-video-full div div {
  z-index: 1000;
}

div.jp-video-full div.jp-jplayer {
  top: 0;
  left: 0;
  position: fixed !important; position: relative; /* Rules for IE6 (full-screen) */
  overflow: hidden;
}

div.jp-video-full div.jp-gui {
  position: fixed !important; position: static; /* Rules for IE6 (full-screen) */
  top: 0;
  left: 0;
  width: $width;
  height:100%;
  z-index:1001; /* 1 layer above the others. */
}

div.jp-video-full div.jp-interface {
  position: absolute !important; position: relative; /* Rules for IE6 (full-screen) */
  bottom: 0;
  left: 0;
}

div.jp-interface {
  position: relative;
  background-color: $background2;
  width: $width;
}

div.jp-audio div.jp-type-single div.jp-interface {
  height: $height;
}

div.jp-audio div.jp-type-playlist div.jp-interface {
  height: $height;
}

div.jp-audio-stream div.jp-type-single div.jp-interface {
  height: $height;
}

div.jp-video div.jp-interface {
  border-top: 1px solid $color1;
}

div.jp-controls-holder {
  clear: both;
  width: $width;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  top: -2px;
}

div.jp-interface ul.jp-controls {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.jp-audio ul.jp-controls {
  width: $width;
  padding: 16px 20px 0px 20px;
}

div.jp-audio-stream ul.jp-controls {
  width: 142px;
  padding: 16px 20px 0 20px;
}

div.jp-video div.jp-type-single ul.jp-controls {
  width: 78px;
  margin-left: 200px;
}

div.jp-video div.jp-type-playlist ul.jp-controls {
  width: 134px;
  margin-left: 172px;
}

div ul.jp-controls,
div.jp-interface ul.jp-controls li {
  display: inline;
  float: left;
}

div.jp-interface ul.jp-controls a {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

a.jp-play, a.jp-pause {
  width: 40px;
  height: 40px;
}

a.jp-play {
  background: url("play.png") center center no-repeat;
  &:hover {
    background: url("play_hover.png") center center no-repeat;
  }
}

a.jp-pause {
  background: url("pause.png");
  display: none;
  &:hover{
    background: url("pause_hover.png") center center no-repeat;
  }
}

div.jp-progress {
  background-color: #808080;
}

div.jp-audio div.jp-progress {
  position: absolute;
  top: 32px;
  height: 8px;
  border-radius: 3px;
}

div.jp-audio div.jp-type-single div.jp-progress {
  left: 90px;
  width:250px;
}

div.jp-audio div.jp-type-playlist div.jp-progress {
  left:166px;
  width:130px;
}

div.jp-video div.jp-progress {
  top:0px;
  left:0px;
  width:100%;
  height:12px;
}

div.jp-seek-bar {
  position: absolute;
  width:0px;
  cursor: pointer;
  height: 12px;
  top: -2px;
}

div.jp-play-bar {
  background: #f2c536;
  width: 0px;
  height: 100%;
  border-radius: 3px;
}

a.jp-mute, a.jp-unmute {
  width: 45px;
  height: 40px;
  top: 16px;
  position: absolute;
}


div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute {
  margin-left: 300px;
}

div.jp-audio-stream div.jp-type-single a.jp-mute,
div.jp-audio-stream div.jp-type-single a.jp-unmute {
  margin-left:10px;
}

div.jp-audio a.jp-volume-max,
div.jp-audio-stream a.jp-volume-max {
  margin-left: 56px;
}

div.jp-video a.jp-mute,
div.jp-video a.jp-unmute {
  position: absolute;
  top: 12px;
  margin-top: 0;
}

a.jp-mute {
  background: url("mute.png") center center no-repeat;
}
a.jp-unmute {
  background: url("unmute.png") center center no-repeat;
  display: none;
}

div.jp-volume-bar {
  position: absolute;
  overflow: hidden;
  background: #808080;
  border-radius: 3px;
  width: 46px;
  height: 8px;
  cursor: pointer;
}

div.jp-audio div.jp-volume-bar {
  top: 32px;
  left: 420px;
}

div.jp-audio-stream div.jp-volume-bar {
  top: 32px;
  left: 92px;
}

div.jp-video div.jp-volume-bar {
  top: 17px;
  left: 72px;
}

div.jp-volume-bar-value {
  background: #f2c536;
  width: 0px;
  height: 8px;
}

div.jp-video-play {
  width: $width;
  overflow: hidden; /* Important for nested negative margins to work in modern browsers */
  cursor: pointer;
  background-color: rgba(0,0,0,0); /* Makes IE9 work with the active area over the whole video area. IE6/7/8 only have the button as active area. */
}

div.jp-video-270p div.jp-video-play {
  margin-top: -270px;
  height: 270px;
}
div.jp-video-360p div.jp-video-play {
  margin-top: -360px;
  height: 360px;
}
div.jp-video-full div.jp-video-play {
  height: 100%;
}

.jp-no-solution {
  padding: 5px;
  font-size: .8em;
  background-color: #eee;
  border: 2px solid #009be3;
  color: #000;
  display: none;

  a {
    color: #000;
  }

  span {
    font-size: 1em;
    display: block;
    text-align: center;
    font-weight: bold;
  }
}
