<header class="header-container fixed above" >

  <div class="logo-container top" >
    <%= link_to 'LIVE', 'javascript:;', class: 'live left centered' %>
    <%= link_to root_path, class: "logo middle centered" do %>
      <span class="logo-text-left">REEL</span><span class="logo-text-right">RADIO.fm</span>
    <% end %>
    <%= link_to '', 'javascript:history.go(0);', id: 'refresh', class: 'right' %>
  </div>

  <%= render 'layouts/reelplayer_header' %>

</header>
